In [ ]:

# import necessary libraries

import os
import numpy as np
import pandas as pd
from  keras_preprocessing.text import Tokenizer
from  keras_preprocessing.sequence import pad_sequences
from  keras.models import Sequential, load_model
from  keras.layers import Dense, Embedding, LSTM, Bidirectional,Flatten, Dropout
from sklearn.model_selection import train_test_split
import re
import pickle

In [ ]:
path = "/content/drive/MyDrive/IMDB Dataset.csv"

In [ ]:
df = pd.read_csv(path)

In [ ]:
check_null = df.isnull().sum()

In [ ]:
check_null

review       0
sentiment    0
dtype: int64

In [ ]:
df["review"].describe()

count                                                 50000
unique                                                49582
top       Loved today's show!!! It was a variety and not...
freq                                                      5
Name: review, dtype: object

In [ ]:
df["sentiment"].describe()

count        50000
unique           2
top       positive
freq         25000
Name: sentiment, dtype: object

In [ ]:
for review in range(len(df["review"])):
    df["review"][review]=re.sub(r'<[^<>]+>', repl=" ",string=df["review"][review]) #remove html tags
    df["review"][review]=re.sub(r'[^a-zA-Z0-9\s]', repl=" ",string=df["review"][review]) #remove special characters/whitespaces

In [ ]:
tokenizer = Tokenizer(num_words=5000)  # unique words limit set to 5000

In [ ]:
tokenizer

In [ ]:
tokenizer.fit_on_texts(df['review'])

In [ ]:
X = tokenizer.texts_to_sequences(df['review'])

In [ ]:
X[0]

[28,
 4,
 1,
 77,
 2061,
 46,
 1063,
 11,
 100,
 149,
 41,
 303,
 3090,
 398,
 20,
 231,
 29,
 3212,
 32,
 25,
 204,
 14,
 10,
 6,
 619,
 47,
 598,
 17,
 68,
 1,
 87,
 148,
 11,
 3258,
 68,
 44,
 3090,
 13,
 91,
 2,
 135,
 4,
 565,
 61,
 267,
 8,
 204,
 37,
 1,
 653,
 141,
 1743,
 68,
 10,
 6,
 23,
 3,
 116,
 16,
 1,
 2336,
 40,
 10,
 116,
 2597,
 56,
 17,
 5,
 1471,
 375,
 40,
 565,
 91,
 6,
 3831,
 8,
 1,
 358,
 360,
 4,
 1,
 653,
 7,
 6,
 436,
 3090,
 14,
 11,
 6,
 1,
 361,
 5,
 1,
 2542,
 1044,
 7,
 2712,
 1411,
 22,
 524,
 34,
 4681,
 2462,
 4,
 1,
 1196,
 115,
 30,
 1,
 27,
 2912,
 2,
 389,
 36,
 6,
 23,
 299,
 22,
 1,
 4902,
 2923,
 524,
 6,
 345,
 5,
 107,
 2450,
 2,
 52,
 36,
 327,
 2,
 25,
 112,
 224,
 242,
 9,
 60,
 132,
 1,
 282,
 1333,
 4,
 1,
 116,
 6,
 685,
 5,
 1,
 193,
 11,
 7,
 268,
 115,
 77,
 276,
 575,
 21,
 3016,
 827,
 183,
 1305,
 4177,
 16,
 2496,
 1230,
 827,
 1436,
 827,
 874,
 3090,
 152,
 21,
 949,
 185,
 1,
 87,
 398,
 9,
 123,
 211,
 3258,
 68,
 14,
 36,
 1619,
 7,
 13,
 2239,
 9,
 415,
 21,
 132,
 9,
 13,
 1583,
 16,
 7,
 18,
 14,
 9,
 292,
 52,
 9,
 1417,
 3,
 1269,
 16,
 3090,
 2,
 191,
 5,
 1,
 299,
 2040,
 4,
 2140,
 565,
 23,
 41,
 565,
 18,
 35,
 231,
 29,
 2986,
 43,
 16,
 3,
 35,
 231,
 501,
 22,
 633,
 2,
 75,
 242,
 17,
 7,
 70,
 645,
 701,
 109,
 654,
 83,
 1196,
 685,
 5,
 66,
 570,
 4,
 900,
 2022,
 40,
 1196,
 555,
 149,
 3090,
 20,
 198,
 429,
 3850,
 17,
 47,
 6,
 3327,
 804,
 1596,
 45,
 20,
 50,
 75,
 8,
 1213,
 17,
 126,
 4112,
 485]

In [ ]:
len(X[0])

278

In [ ]:
# padding so that all reviews will be of length 500
X = pad_sequences(X,maxlen=500)

In [ ]:
X[0]

array([   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,   28,    4,    1,   77, 2061,   46, 1063,   11,  100,
        149,   41,  303, 3090,  398,   20,  231,   29, 3212,   32,   25,
        204,   14,   10,    6,  619,   47,  598,   17,   68,    1,   87,
        148,   11, 3258,   68,   44, 3090,   13,   91,    2,  135,    4,
        565,   61,  267,    8,  204,   37,    1,  653,  141, 1743,   68,
         10,    6,   23,    3,  116,   16,    1, 2336,   40,   10,  116,
       2597,   56,   17,    5, 1471,  375,   40,  565,   91,    6, 3831,
          8,    1,  358,  360,    4,    1,  653,    7,    6,  436, 3090,
         14,   11,    6,    1,  361,    5,    1, 2542, 1044,    7, 2712,
       1411,   22,  524,   34, 4681, 2462,    4,    1, 1196,  115,   30,
          1,   27, 2912,    2,  389,   36,    6,   23,  299,   22,    1,
       4902, 2923,  524,    6,  345,    5,  107, 2450,    2,   52,   36,
        327,    2,   25,  112,  224,  242,    9,   60,  132,    1,  282,
       1333,    4,    1,  116,    6,  685,    5,    1,  193,   11,    7,
        268,  115,   77,  276,  575,   21, 3016,  827,  183, 1305, 4177,
         16, 2496, 1230,  827, 1436,  827,  874, 3090,  152,   21,  949,
        185,    1,   87,  398,    9,  123,  211, 3258,   68,   14,   36,
       1619,    7,   13, 2239,    9,  415,   21,  132,    9,   13, 1583,
         16,    7,   18,   14,    9,  292,   52,    9, 1417,    3, 1269,
         16, 3090,    2,  191,    5,    1,  299, 2040,    4, 2140,  565,
         23,   41,  565,   18,   35,  231,   29, 2986,   43,   16,    3,
         35,  231,  501,   22,  633,    2,   75,  242,   17,    7,   70,
        645,  701,  109,  654,   83, 1196,  685,    5,   66,  570,    4,
        900, 2022,   40, 1196,  555,  149, 3090,   20,  198,  429, 3850,
         17,   47,    6, 3327,  804, 1596,   45,   20,   50,   75,    8,
       1213,   17,  126, 4112,  485], dtype=int32)

In [ ]:
len(X[0])

500

In [ ]:
Y = df['sentiment']

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

In [ ]:
X_train.shape

(40000, 500)

In [ ]:
pickle_out=open('tokenizer.pickle',"wb")
pickle.dump(tokenizer,pickle_out)
pickle_out.close()

In [ ]:
y_train=pd.get_dummies(Y_train)
y_test=pd.get_dummies(Y_test)

In [ ]:
y_train

       negative  positive
3240          1         0
19812         1         0
29647         0         1
16826         0         1
1118          0         1
...         ...       ...
46769         0         1
37488         1         0
16557         1         0
1244          1         0
21373         0         1

[40000 rows x 2 columns]

In [ ]:
vocab_size = len(tokenizer.word_index) + 1 # +1 is necessary for embedding method

In [ ]:
vocab_size

102211

In [ ]:
model = Sequential()
model.add(Embedding(vocab_size, 50, input_length=500))
model.add(Bidirectional(LSTM(128)))
model.add(Dropout(0.5))
model.add(Dense(2,activation='sigmoid'))
model.compile(optimizer='adam',loss='binary_crossentropy', metrics=['accuracy'])
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_1 (Embedding)     (None, 500, 50)           5110550

 bidirectional (Bidirectiona  (None, 256)              183296
 l)

 dropout_1 (Dropout)         (None, 256)               0

 dense_1 (Dense)             (None, 2)                 514

=================================================================
Total params: 5,294,360
Trainable params: 5,294,360
Non-trainable params: 0
_________________________________________________________________

In [ ]:
from keras.callbacks import EarlyStopping
earlyStopping = EarlyStopping(monitor='val_loss', mode='min', verbose=1, patience=5)

modelTraining=model.fit(X_train, y_train,
                        batch_size=128,
                        epochs=5,
                        validation_data=[X_test, y_test],
                        callbacks=[earlyStopping])

Epoch 1/5
313/313 [==============================] - 1134s 4s/step - loss: 0.4702 - accuracy: 0.7861 - val_loss: 0.3505 - val_accuracy: 0.8531
Epoch 2/5
313/313 [==============================] - 1104s 4s/step - loss: 0.2771 - accuracy: 0.8897 - val_loss: 0.3247 - val_accuracy: 0.8729
Epoch 3/5
313/313 [==============================] - 1099s 4s/step - loss: 0.2597 - accuracy: 0.8969 - val_loss: 0.2834 - val_accuracy: 0.8814
Epoch 4/5
313/313 [==============================] - 1099s 4s/step - loss: 0.2238 - accuracy: 0.9150 - val_loss: 0.2892 - val_accuracy: 0.8867
Epoch 5/5
313/313 [==============================] - 1131s 4s/step - loss: 0.2095 - accuracy: 0.9194 - val_loss: 0.2792 - val_accuracy: 0.8882

In [ ]:

score=model.evaluate(X_test, y_test, verbose=0)

print("Test_score = ",score[0])
print("Test_accuracy = ",score[1])

Test_score =  0.2791900038719177
Test_accuracy =  0.8881999850273132

In [ ]:
model.save('SentimentalAnalysis_LSTM.h5')

In [ ]:
testModel=load_model('SentimentalAnalysis_LSTM.h5')

In [ ]:
myInput="""I watched this movie on a flight and absolutely loved it, I ended up watching on Starz about 5 times... it's funny, cute, silly, emotional and I want What a Hottie Hottie as a ring tone or better yet a full song! I love the animation part of the movie as well, the whole story reads like a fairytale."""

In [ ]:
myInput=re.sub(r'<[^<>]+>', repl=" ",string=myInput) #Excluding html tags
myInput=re.sub(r'[^a-zA-Z0-9\s]', repl=" ",string=myInput)

In [ ]:
myInput

'I watched this movie on a flight and absolutely loved it  I ended up watching on Starz about 5 times    it s funny  cute  silly  emotional and I want What a Hottie Hottie as a ring tone or better yet a full song  I love the animation part of the movie as well  the whole story reads like a fairytale '

In [ ]:
prediction=tokenizer.texts_to_sequences([myInput])
prediction=pad_sequences(prediction,maxlen=500)
model.predict(prediction)

array([[0.2711997 , 0.73140794]], dtype=float32)

In [ ]:
model.predict(prediction)[0][1]

0.73140794